html {
	font-size: 10px;
	scroll-behavior: smooth;
}
ul { list-style: none; }
a {
	text-decoration: none;
	color: #000;
}

	/* HEADER */
#header {
	width: 100%;
	position: sticky;
	z-index: 10;
	top: -94px;
	background: #f0c929;
}
h1 {
	margin: 0;
	text-align: center;
}
h1 img {
	height: 85px;
	margin-top: 4px;
}
h1 span {
	position: absolute;
	left: -9999px;
	top: auto;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

#btn-menu { display: none; }

.navbar-span {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 0;
}
etiqueta {
	display: flex;
	justify-content: space-around;
}

.fa-ellipsis-v {
	font-size: 18px;
	margin-left: 13px;
	cursor: pointer;
}
.fa-ellipsis-v:active, .fa-ellipsis-v:focus {
	color: #fff;
}
.fa-instagram {
	font-size: 21px;
	color: #fff;
	margin-right: 6px;
}
.fa-facebook {
	font-size: 19px;
	color: #fff;
	margin-right: 10px;
}

.menu {
	background: #f0c929;
	width: 100%;
	font-family: 'Cabin', sans-serif;
	transition: all .8s ease-in;
	position: absolute;
	margin-left: -100%;
	border-radius: 0 0 5px 5px;
	padding-bottom: 5px;
}

#btn-menu:checked ~ .menu { margin: 0; }

.menu li {
	font-size: 1.45em;
	padding: 4px 0 4px 10px;
}
.menu a { color: #fff; }
.menu a:active { color: #b40504; }
.menu li:last-child a { color: #b40504; }
.menu li:last-child a:active { color: #fff; }

	/* MAIN */
main { margin: 0 2%; }
h2 {
	font-family: 'Cabin', sans-serif;
	font-size: 2.8em;
	padding-bottom: 2px;
	margin: 13px 6% .6em;
	border-bottom: 1px solid #b40504;
	text-align: center;
}

.parrafo {
	font-family: 'Lato', sans-serif;
	font-size: 1.64em;
	margin: .85em 0;
	text-align: justify;
}
.parrafo b { font-size: .98em; }
.parrafo:first-letter { margin-left: .6em; }

.citas {
	display: grid;
	grid-template-columns: 3em 1fr;
	grid-template-rows: repeat(6, auto);
	grid-row-gap: 3em;
	margin: 2.5em 0;
}

.fa-hand-holding-heart {
	font-size: 2.1em;
	color: #DB1B1B;
}
.citas-p {
	font-family: 'Share Tech', sans-serif;
	font-size: 1.67em;
}
.citas-p a { text-decoration: underline 1px; }
.citas-p a:hover { color: #b40504; }

.citas-autor {
	font-size: 1.45em;
	margin-left: .6em;
}

.ig-texto {
	font-family: 'Lato', sans-serif;
	font-size: 1.6em;
	text-align: center;
	margin-top: 3.3em;
}
.ig-figure { text-align: center; }
.ig-figure img {
	overflow: hidden;
	display: inline-block;
	margin: .6em 0;
	height: 10.5em;
	width: 14em;
	border-radius: 100em;
}
.ig-figure-figcaption {
	font-family: 'Lato', sans-serif;
	font-size: 1.6em;
}
.citas-autor-enl, .ig-figure-figcaption span {
	font-family: 'Pacifico', cursive;
	transition: all .3s;
}
.ig-figure-figcaption span:hover { color: #833AB4; }
.citas-autor-enl:hover { color: #FD1D1D; }

/* BOTÓN DE WHATSAPP */
#btn-whats {
	width: 25px;
	height: 25px;
	position: fixed;
	bottom: 15px;
	right: 10px;
}

	/* FOOTER */
.figure-ubi {
	height: 290px;
	margin: 2.5em 1em 5em;
	padding-top: 40px;
}
.figure-ubi figcaption {
	font-family: 'Montserrat Alternates', sans-serif;
	text-align: center;
	font-size: 2.125em;
}
.ubi {
	margin: .33em 0;
	font-size: 1.4em;
	font-family: 'Lato', sans-serif;
}
.ubi:first-letter { padding-left: 10px; }

.rif, #hor-at-lists, .div-der-dev { font-family: 'Lato', sans-serif; }
#hor-at-lists {
	display: flex;
	justify-content: space-evenly;
	margin: 10px 5px;
	border-top: 1px solid #f0c929;
	padding: 10px 0;
}
.hor-list li:first-child, .at-list li:first-child {
	font-size: 1.3em;
	color: #b40504;
	font-weight: bolder;
	margin-bottom: 2px;
}
.hor-list li:nth-child(2), .at-list li:nth-child(2), .at-list li:nth-child(3) {
	font-size: 1.22em;
}

.div-der-dev {
	border-top: 2px solid #b40504;
	padding: 5px 0;
	font-size: 1.15em;
}
.div-der-dev p { margin: 3px 5px; }
.div-der-dev .developer {
	text-align: center;
	margin-top: 7px;
}
.dev-enl { text-decoration: underline; }

/* INICIO DE LOS MEDIA QUERIES */
@media only screen and (orientation: portrait) and (min-width: 241px) and (max-width: 767px) {
	/* BARRA DE NAVEGACIÓN */
	etiqueta { align-items: center; }
	.fa-ellipsis-v { font-size: 20px; }
	.fa-instagram { font-size: 23px; }
	.fa-facebook { font-size: 21px; }
	.menu li { font-size: 1.48em; }

	/* BOTÓN DE WHATSAPP */
	#btn-whats {
		width: 27px;
		height: 27px;
	}

	/* FOOTER */
	.hor-list li:first-child, .at-list li:first-child {
		font-size: 1.35em;
	}
	.hor-list li:nth-child(2), .at-list li:nth-child(2), .at-list li:nth-child(3) {
		font-size: 1.29em;
	}
	.div-der-dev { font-size: 1.2em; }

	@media only screen and (min-width: 300px) {
		/* BARRA DE NAVEGACIÓN */
		.menu li { font-size: 1.55em; }

		/* MAIN */
		h2 {
			 margin: 13px 11% .6em;
		}
		.parrafo { font-size: 1.65em; }

		.citas {
			grid-template-columns: 3.6em 1fr;
		}
		.fa-hand-holding-heart { font-size: 2.4em; }
		.citas-p { font-size: 1.674em; }
		.citas-autor { font-size: 1.55em; }

		.ig-texto, .ig-figure-figcaption {
			font-size: 1.65em;
		}

		/* FOOTER */
		.figure-ubi {
			margin-bottom: 4.5em;
			height: 315px;
		}
		.ubi { font-size: 1.45em; }

		.hor-list li:first-child, .at-list li:first-child {
			font-size: 1.45em;
		}
		.hor-list li:nth-child(2), .at-list li:nth-child(2), .at-list li:nth-child(3) {
			font-size: 1.25em;
		}

		.div-der-dev { font-size: 1.2em; }
	}

	@media only screen and (min-width: 350px) {
		/* MAIN */
		h2 {
			margin-left: 14%;
			margin-right: 14%;
		}

		.citas-p { font-size: 1.75em; }
		.citas-autor { font-size: 1.64em; }

		/* BOTÓN WHATSAPP */
		#btn-whats {
			bottom: 25px;
			right: 15px;
			height: 30px;
			width: 30px;
		}

		/* FOOTER */
		.figure-ubi { margin-bottom: 3em; }
		.div-der-dev { font-size: 1.24em; }
	}

	@media only screen and (min-width: 375px) {
		/* BARRA DE NAVEGACIÓN */
		.fa-ellipsis-v { font-size: 23px; }
		.fa-instagram { font-size: 26px; }
		.fa-facebook { font-size: 24px; }
		.menu { padding: 6px 0; }
		.menu li {
			padding: 6px 0 6px 10px;
			font-size: 1.7em;
		}

		/* MAIN */
		h2 { font-size: 3.3em; }
		.citas-p { font-size: 1.73em; }
		.citas-autor { font-size: 1.6em; }

		/* BOTÓN DE WHATSAPP */
		#btn-whats {
			width: 34px;
			height: 34px;
			bottom: 25px;
		}
	}

	@media only screen and (min-width: 390px) {
		/* MAIN */
		.parrafo { font-size: 1.72em; }
		.citas-p { font-size: 1.85em; }
		.citas-autor { font-size: 1.65em; }

		/* FOOTER */
		.figure-ubi figcaption { font-size: 2.35em; }
		.ubi { font-size: 1.47em; }

		.hor-list li:first-child, .at-list li:first-child {
			font-size: 1.47em;
		}
		.hor-list li:nth-child(2), .at-list li:nth-child(2), .at-list li:nth-child(3) {
			font-size: 1.27em;
		}

		.div-der-dev { font-size: 1.25em; }
	}

	@media only screen and (min-width: 400px) {
		/* BARRA DE NAVEGACIÓN */
		#header { top: -115px; }
		h1 img { height: 105px; }
		.menu li { font-size: 1.75em; }
	}

	@media only screen and (min-width: 430px) {
		/* BARRA DE NAVEGACIÓN */
		etiqueta { align-items: flex-start; }
		.fa-instagram {
			margin-right: 8px;
			font-size: 30px;
		}
		.fa-facebook { font-size: 27px; }

		/* MAIN */
		.parrafo { font-size: 1.75em; }
		.citas-p { font-size: 1.9em; }
		.citas-autor, .ig-texto, .ig-figure-figcaption {
			font-size: 1.7em;
		}

		/* BOTÓN DE WHATSAPP */
		#btn-whats {
			width: 39px;
			height: 39px;
		}

		/* FOOTER */
		.ubi { font-size: 1.62em; }
	}

	@media only screen and (min-width: 475px) {
		/* BARRA DE NAVEGACIÓN */
		.menu li { font-size: 1.9em; }

		/* MAIN */
		h2 {
			font-size: 3.77em;
			margin-left: 17%;
			margin-right: 17%;
		}
		.parrafo { font-size: 2em; }

		.citas {
			grid-template-columns: 5em 1fr;
		}
		.fa-hand-holding-heart { font-size: 3.15em; }
		.citas-p { font-size: 2.1em; }
		.citas-autor { font-size: 1.85em; }

		.ig-texto { font-size: 2em; }
		.ig-figure-figcaption { font-size: 1.87em; }

		/* FOOTER */
		.figure-ubi figcaption { font-size: 2.9em; }
		
		.figure-ubi {
			height: 510px;
			margin-bottom: -.3em;
		}
		.ubi { font-size: 1.82em; }

		.hor-list li:first-child, .at-list li:first-child {
			font-size: 1.55em;
		}
		.hor-list li:nth-child(2), .at-list li:nth-child(2), .at-list li:nth-child(3) {
			font-size: 1.5em;
		}
		
		.div-der-dev { font-size: 1.4em; }
	}

	@media only screen and (min-width: 600px) {
		/* BARRA DE NAVEGACIÓN */
		#header { top: -140px; }
		h1 img { height: 130px; }
		.fa-ellipsis-v {
			margin-left: 20px;
			font-size: 29px;
		}
		.fa-instagram { font-size: 38px; }
		.fa-facebook { font-size: 35.3px; }
		.menu li { font-size: 2.4em; }

		/* MAIN */
		h2 {
			border-bottom: 2.5px solid #b40504;
			font-size: 4.8em;
		}
		.parrafo, .ig-texto { font-size: 2.47em; }

		.citas {
			grid-template-columns: 5.7em 1fr;
			grid-row-gap: 4em;
			margin: 3.5em 0;
		}
		.fa-hand-holding-heart { font-size: 3.7em; }
		.citas-p { font-size: 2.5em; }
		.citas-autor { font-size: 2.34em; }

		.ig-figure img {
			height: 16em;
			width: 21em;
		}
		.ig-figure-figcaption { font-size: 2.33em; }

		/* BOTÓN DE WHATSAPP */
		#btn-whats {
			width: 53px;
			height: 53px;
			bottom: 35px;
			right: 20px;
		}

		/* FOOTER */
		#footer { margin-top: 10em; }
		.figure-ubi {
			margin-top: 6.5em;
			height: 510px;
			margin-bottom: 3.4em;
		}
		.figure-ubi figcaption { font-size: 3.9em; }
		.ubi { font-size: 2.15em; }

		.hor-list li:first-child, .at-list li:first-child {
			font-size: 2.17em;
		}
		.hor-list li:nth-child(2), .at-list li:nth-child(2), .at-list li:nth-child(3) {
			font-size: 1.82em;
		}

		.div-der-dev { font-size: 1.67em; }
	}

	@media only screen and (min-width: 700px) {
		/* BARRA DE NAVEGACIÓN */
		#header { top: -189px; }
		h1 img { height: 180px; }
		.fa-ellipsis-v {
			font-size: 38px;
			margin-left: 26px;
		}
		.fa-instagram {
			font-size: 41.7px;
			margin-right: 13px;
		}
		.fa-facebook {
			font-size: 39px;
			margin-right: 19px;
		}
		.menu li { font-size: 2.8em; }

		/* MAIN */
		h2 {
			font-size: 6em;
			border-bottom: 3.5px solid #b40504;
		}
		.parrafo, .ig-texto { font-size: 3em; }

		.citas {
			grid-template-columns: 6.5em 1fr;
			margin: 4.2em 0;
		}
		.fa-hand-holding-heart { font-size: 4.4em; }
		.citas-p { font-size: 3.2em; }
		.citas-autor { font-size: 2.77em; }
		.ig-figure-figcaption { font-size: 2.95em; }

		/* BOTÓN DE WHATSAPP */
		#btn-whats {
			width: 57px;
			height: 57px;
		}

		/* FOOTER */
		#footer { margin-top: 12em; }
		.figure-ubi {
			margin-bottom: 45px;
			height: 600px;
		}
		.figure-ubi figcaption { font-size: 4.8em; }
		.ubi { font-size: 2.75em; }

		#hor-at-lists { border-top: 3px solid #f0c929; }
		.hor-list, .at-list { margin: 10px 0; }
		.hor-list li:first-child, .at-list li:first-child {
			font-size: 2.7em;
		}
		.hor-list li:nth-child(2), .at-list li:nth-child(2), .at-list li:nth-child(3) {
			font-size: 2.18em;
		}

		.div-der-dev {
			border-top: 4px solid #b40504;
			padding: 1.8%;
			font-size: 2.09em;
		}
	}
}

@media only screen and (orientation: landscape) and (max-width: 767px) {
	h2 {
		margin-left: 15%;
		margin-right: 15%;
	}
	.figure-ubi { margin-bottom: 3em; }

	@media only screen and (min-width: 400px) {
		/* BARRA DE NAVEGACIÓN */
		etiqueta { align-items: center; }
		.fa-ellipsis-v { font-size: 19px; }
		.fa-instagram { font-size: 25px; }
		.fa-facebook { font-size: 23px; }
		.menu li { font-size: 1.55em; }

		/* MAIN */
		h2 {
			margin-left: 25%;
			margin-right: 25%;
		}
		.parrafo, .ig-texto { font-size: 1.65em; }

		.citas {
			grid-template-columns: 3.7em 1fr;
		}
		.fa-hand-holding-heart { font-size: 2.4em; }
		.citas-p { font-size: 1.73em; }
		.citas-autor { font-size: 1.6em; }
		.ig-figure-figcaption { font-size: 1.7em; }

		/* BOTÓN DE WHATSAPP */
		#btn-whats {
			width: 30px;
			height: 30px;
		}

		/* FOOTER */
		#footer { margin-top: -1em; }
		.figure-ubi { margin-top: 10%; }
		.ubi { font-size: 1.5em; }
		.hor-list li:first-child, .at-list li:first-child {
			font-size: 1.55em;
		}
		.hor-list li:nth-child(2), .at-list li:nth-child(2), .at-list li:nth-child(3) {
			font-size: 1.35em;
		}

		.div-der-dev { font-size: 1.25em; }
	}

	@media only screen and (min-width: 500px) {
		/* BARRA DE NAVEGACIÓN */
		etiqueta { align-items: center; }
		.fa-ellipsis-v {
			font-size: 21px;
			margin-left: 18px;
		}
		.fa-instagram { font-size: 26px; }
		.fa-facebook { font-size: 23.5px; }
		.menu li { font-size: 1.6em; }

		/* MAIN */
		h2 {
			margin-left: 27%;
			margin-right: 27%;
		}

		/* FOOTER */
		.figure-ubi {
			margin: 6.5% 2.5% 6%;
			padding-top: 35px;
			height: 310px;
		}
		.figure-ubi figcaption { font-size: 2.55em; }
		.ubi { font-size: 1.58em; }

		.hor-list li:first-child, .at-list li:first-child {
			font-size: 1.55em;
		}
		.hor-list li:nth-child(2), .at-list li:nth-child(2), .at-list li:nth-child(3) {
			font-size: 1.35em;
		}

		.div-der-dev { font-size: 1.25em; }
	}

	@media only screen and (min-width: 560px) {
		/* MAIN */
		h2 {
			margin-left: 29%;
			margin-right: 29%;
		}
	}

	@media only screen and (min-width: 590px) {
		/* BARRA DE NAVEGACIÓN */
		.menu li { font-size: 1.7em; }

		/* MAIN */
		.parrafo, .ig-texto { font-size: 1.75em; }
		.citas-p { font-size: 1.85em; }
		.citas-autor { font-size: 1.7em; }

		/* BOTÓN DE WHATSAPP */
		#btn-whats {
			width: 34px;
			height: 34px;
		}

		/* FOOTER */
		.figure-ubi {
			margin: 11.5% 2% -1%;
			height: 350px;
		}

		#hor-at-lists {
			margin-left: 2%;
			margin-right: 2%;
		}
	}

	@media only screen and (min-width: 630px) {
		/* BARRA DE NAVEGACIÓN */
		.menu { padding: 5px 0; }
		.menu li { padding: 5px 0 5px 10px; }

		/* MAIN */
		h2 {
			margin-left: 31.5%;
			margin-right: 31.5%;
		}

		/* FOOTER */
		#footer { margin-top: -2.5em; }

		/* Samsung Galaxy Fold */
		@media only screen and (height: 280px) {
			/* FOOTER */
			.figure-ubi {
				height: 285px;
				margin-bottom: 1.4em;
				margin-left: 3%;
				margin-right: 3%;
			}
		}
	}

	@media only screen and (min-width: 660px) {
		/* FOOTER */
		.figure-ubi { margin: 6.5em 3% -.5%; }
		.ubi {
			margin: .5% 0;
			font-size: 1.65em;
		}

		#hor-at-lists { border-top: 2px solid #f0c929; }
	}

	@media only screen and (min-width: 685px) {
		/* BARRA DE NAVEGACIÓN */
		#header { top: -99px; }
		h1 img { height: 90px; }

		/* MAIN */
		h2 {
			margin-left: 33%;
			margin-right: 33%;
		}
		.parrafo, .ig-texto { font-size: 1.84em; }
		.citas-p { font-size: 1.92em; }
		.citas-autor { font-size: 1.8em; }
		.ig-figure-figcaption { font-size: 1.8em; }
	}
}

/* Tablets en portrait */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
	/* BARRA DE NAVEGACIÓN */
	#header { top: -.5px; }
	h1 img { height: 125px; }
	etiqueta { align-items: center; }
	.fa-ellipsis-v { font-size: 29px; }
	.fa-instagram {
		font-size: 35px;
		margin-right: 9px;
	}
	.fa-facebook {
		font-size: 32px;
		margin-right: 15px;
	}
	.menu li {
		font-size: 2.3em;
		padding: 7px 0 7px 15px;
	}

	/* MAIN */
	h2 {
		margin-left: 24%;
		margin-right: 24%;
		font-size: 5em;
		border-bottom: 3px solid #b40504;
	}
	.parrafo, .ig-texto { font-size: 2.42em; }

	.citas {
		grid-template-columns: 6em 1fr;
		margin: 4em 0;
		grid-row-gap: 4.5em;
	}
	.fa-hand-holding-heart { font-size: 3.6em; }
	.citas-p { font-size: 2.5em; }
	.citas-autor { font-size: 2.2em; }

	.ig-figure img {
		height: 14em;
		width: 19em;
	}
	.ig-figure-figcaption { font-size: 2.3em; }

	/* BOTÓN DE WHATSAPP */
	#btn-whats {
		bottom: 30px;
		right: 30px;
		height: 45px;
		width: 45px;
	}

	/* FOOTER */
	#footer {
		padding-top: 2em;
		margin-top: 8.5em;
		border-top: 2px solid #f0c929;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
	.figure-ubi {
		margin-top: 0;
		height: 400px;
		margin-bottom: 5.3em;
	}
	.figure-ubi, iframe { padding: 0; }
	.figure-ubi figcaption { font-size: 2.7em; }
	.ubi { font-size: 2em; }
	#hor-at-lists {
		border-top: none;
		text-align: center;
		flex-direction: column-reverse;
		align-items: center;
		justify-content: center;
	}
	.hor-list, .at-list { margin: 20px; }
	.hor-list li:first-child {
		font-size: 2.5em;
	}
	.hor-list li:nth-child(2) {
		font-size: 2.1em;
	}
	.at-list li:first-child {
		font-size: 2.4em;
	}
	.at-list li:nth-child(2), .at-list li:nth-child(3) {
		font-size: 1.8em;
	}
	.div-der-dev {
		grid-column: 1/3;
		padding: .3em .3em .5em;
		font-size: 1.67em;
		border-top: 3px solid #b40504;
	}

	@media only screen and (min-width: 795px) {
		/* BARRA DE NAVEGACIÓN */
		h1 img { height: 160px; }
		etiqueta { align-items: flex-start; }
		.fa-ellipsis-v {
			font-size: 35px;
			margin-left: 170%;
		}
		.fa-instagram { font-size: 45.9px; }
		.fa-facebook { font-size: 42px; }
		.menu li { font-size: 2.85em; }

		/* MAIN */
		h2 {
			font-size: 6em;
			margin-left: 21%;
			margin-right: 21%;
		}
		.parrafo, .ig-texto { font-size: 3em; }

		.citas {
			grid-template-columns: 7em 1fr;
			grid-row-gap: 4em;
			margin: 5.5em 0;
		}
		.fa-hand-holding-heart { font-size: 4.5em; }
		.citas-p { font-size: 3.1em; }
		.citas-autor { font-size: 2.8em; }

		.ig-figure img {
			height: 15.3em;
			width: 20.3em;
		}
		.ig-figure-figcaption { font-size: 2.8em; }

		/* BOTÓN DE WHATSAPP */
		#btn-whats {
			height: 57px;
			width: 57px;
		}

		/* FOOTER */
		.figure-ubi {
			height: 480px;
			margin-bottom: 15%;
		}
		.figure-ubi figcaption { font-size: 4em; }
		.ubi { font-size: 2.4em; }
		.hor-list li:first-child, .at-list li:first-child {
			font-size: 2.8em;
		}
		.hor-list li:nth-child(2), .at-list li:nth-child(2), .at-list li:nth-child(3) {
			font-size: 2.3em;
		}
		.div-der-dev {
			font-size: 2.08em;
			padding: 5px 5px 10px;
		}
	}
}

/* iPhone X, Pixel 2 XL y Nokia N9 en Landscape */
@media only screen and (min-width: 768px) and (min-height: 370px) and (max-height: 480px) {
	/* BARRA DE NAVEGACIÓN */
	#header { top: -109px; }
	h1 img { height: 100px; }
	etiqueta { align-items: center; }
	.fa-ellipsis-v {
		margin-left: 195%;
		font-size: 22px;
	}
	.fa-instagram {
		font-size: 27.3px;
		margin-right: 8px;
	}
	.fa-facebook {
		font-size: 25px;
		margin-right: 15px;
	}
	.menu { padding-top: 0; }
	.menu li {
		font-size: 1.8em;
		padding: .9% 0 .9% 1.9%;
	}

	/* MAIN */
	h2 {
		border-bottom: 2px solid #b40504;
		margin-left: 30%;
		margin-right: 30%;
		font-size: 4em;
	}
	.parrafo, .ig-texto { font-size: 1.94em; }

	.citas {
		grid-template-columns: 4.8em 1fr;
		margin: 3em 0;
	}
	.fa-hand-holding-heart { font-size: 2.7em; }
	.citas-p { font-size: 2.07em; }
	.citas-autor { font-size: 1.8em; }

	.ig-figure img {
		height: 11em;
		width: 14em;
	}
	.ig-figure-figcaption { font-size: 1.85em; }

	/* BOTÓN DE WHATSAPP */
	#btn-whats {
		bottom: 15px;
		right: 15px;
		height: 37px;
		width: 37px;
	}

	/* FOOTER */
	#footer {
		padding-top: 4.2%;
		margin-top: 7.5em;
	}
	.figure-ubi {
		height: 400px;
		margin: 0 1.5% 2.9em;
	}
	.figure-ubi figcaption { font-size: 2.7em; }
	.ubi { font-size: 1.55em; }
	.hor-list li:first-child, .at-list li:first-child {
		font-size: 1.9em;
	}
	.hor-list li:nth-child(2), .at-list li:nth-child(2), .at-list li:nth-child(3) {
		font-size: 1.6em;
	}

	.div-der-dev {
		font-size: 1.4em;
		padding: .4em .35em .55em;
	}
}

/* Desktops y Laptops */
@media only screen and (min-width: 1024px) {
	body {
		margin-top: 0;
		padding-top: 9.5%;
	}
	/* BARRA DE NAVEGACIÓN */
	#header {
		display: flex;
		position: fixed;
		top: 0;
		justify-content: space-between;
		align-items: center;
	}
	h1 img {
		height: 95px;
		margin: 3% 0 -1%;
		margin-left: 42%;
	}
	etiqueta {
		align-items: center;
		margin-right: 10px;
	}
	.menu {
		margin: 0 18.4% 0;
		padding: 0;
		display: inline-block;
		width: 70%;
	}
	.menu ul {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
	}
	.menu li { font-size: 2.2em; }

	.menu a { transition: all .3s; }
	.menu a:hover { color: #b40504; }

	.fa-ellipsis-v { font-size: 0; }
	.fa-instagram { font-size: 34.4px; }
	.fa-instagram:hover { color: #833AB4; }

	.fa-facebook { font-size: 31.5px; }
	.fa-facebook:hover { color: #4267B2; }

	/* MAIN */
	h2 {
		font-size: 3.8em;
		margin-left: 34.5%;
		margin-right: 34.5%;
		border-bottom: 3px solid #b40504;
	}

	.parrafo, .ig-texto { font-size: 1.85em; }

	.citas {
		grid-template-columns: 4.5em 1fr;
		margin: 3.7em 0;
		grid-row-gap: 4.5em;
	}
	.fa-hand-holding-heart { font-size: 2.8em; }
	.citas-p { font-size: 1.95em; }
	.citas-autor { font-size: 1.83em; }

	.ig-figure img {
		height: 12.5em;
		width: 16.5em;
	}
	.ig-figure-figcaption { font-size: 1.9em; }

	/* BOTÓN DE WHATSAPP */
	#btn-whats { display: none; }

	/* FOOTER */
	#footer {
		margin-top: 8em;
		border-top: 2px solid #f0c929;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	.figure-ubi {
		margin-top: 3.9%;
		margin-bottom: 100px;
		height: 220px;
		padding: 0;
	}
	.figure-ubi figcaption { font-size: 2.7em; }
	.ubi { font-size: 1.7em; }
	iframe { height: 100%; }

	#hor-at-lists {
		border-top: none;
		text-align: center;
		align-items: center;
		justify-content: space-evenly;
		flex-direction: row;
	}
	.hor-list { margin-bottom: 1.6em; }
	.hor-list li:first-child, .at-list li:first-child {
		font-size: 1.9em;
	}
	.hor-list li:nth-child(2) {
		font-size: 1.8em;
	}
	.at-list li:nth-child(2), .at-list li:nth-child(3) {
		font-size: 1.55em;
	}

	.div-der-dev {
		grid-column: 1/3;
		padding: .39% .43% .79%;
		font-size: 1.4em;
		border-top: 3px solid #b40504;
	}

	@media only screen and (min-height: 760px) {
		/* GALERÍAS */
		h4 { font-size: 3.5em; }
		.viv20-list input[type="radio"] + label {
			margin: -660% 15px;
		}
	}
}

@media only screen and (min-width: 1200px) {
	/* BARRA DE NAVEGACIÓN */
	h1 img {
		margin-left: 45.5%;
		height: 113px;
	}
	.menu ul { justify-content: center; }
	.menu li {
		margin: 0 2.7%;
		font-size: 2.4em;
	}

	/* MAIN */
	h2 {
		margin-left: 36.5%;
		margin-right: 36.5%;
		font-size: 4.3em;
	}

	.parrafo, .ig-texto { font-size: 2.1em; }

	.citas {
		grid-template-columns: 5.5em 1fr;
	}
	.fa-hand-holding-heart { font-size: 3.2em; }
	.citas-p { font-size: 2.18em; }
	.citas-autor { font-size: 1.95em; }

	/* FOOTER */
	.figure-ubi {
		margin-bottom: 94px;
		height: 300px;
	}
	.ubi {
		font-size: 1.9em;
		margin: .8% 0 0;
	}

	.hor-list li:first-child, .at-list li:first-child {
		font-size: 2.2em;
	}
	.hor-list li:nth-child(2) {
		font-size: 1.9em;
	}
	.at-list li:nth-child(2), .at-list li:nth-child(3) {
		font-size: 1.7em;
	}

	.div-der-dev {
		padding: .4% .4%;
		font-size: 1.5em;
	}
}

@media only screen and (min-width: 1300px) {
	body { padding-top: 125px; }
	/* BARRA DE NAVEGACIÓN */
	h1 img {
		height: 115px;
		margin-left: 67%;
	}
	.menu li { font-size: 2.6em; margin: 0 17px; }
	etiqueta {
		margin-right: 55px;
		align-items: flex-start;
	}
	.fa-instagram {
		margin-right: 10px;
		font-size: 40.6px;
	}
	.fa-facebook { font-size: 38.5px; }

	/* MAIN */
	.parrafo, .ig-texto { font-size: 2.25em; }

	.fa-hand-holding-heart { font-size: 3.4em; }
	.citas-p { font-size: 2.35em; }
	.citas-autor {
		margin-left: 1.2em;
		font-size: 2.1em;
	}

	.ig-figure-figcaption { font-size: 2.1em; }

	/* FOOTER */
	#footer { padding: 2em 0 .4em; }
	.figure-ubi {
		height: 390px;
		margin: 0 1em 8.5em;
	}
	.ubi {
		font-size: 1.85em;
		margin: .7% 0 .3em;
	}

	.hor-list li:first-child, .at-list li:first-child {
		font-size: 2.2em;
	}
	.hor-list li:nth-child(2) {
		font-size: 2.05em;
	}
	.at-list li:nth-child(2), .at-list li:nth-child(3) {
		font-size: 1.8em;
	}
	.div-der-dev { font-size: 1.65em; }
}

@media only screen and (min-width: 1400px) {
	/* BARRA DE NAVEGACIÓN */
	h1 img { margin-left: 72%; }
	etiqueta { align-items: center; }

	/* MAIN */
	h2 { font-size: 4.8em; }
	.ig-figure-figcaption { font-size: 2.25em; }
}

@media only screen and (min-width: 1550px) {
	body { padding-top: 130px; }
	/* BARRA DE NAVEGACIÓN */
	h1 img {
		margin-left: 74%;
		height: 127px;
	}
	.menu li { font-size: 3em; }

	/* MAIN */
	h2 {
		font-size: 5.3em;
		margin-left: 37%;
		margin-right: 37%;
	}

	.parrafo, .ig-texto { font-size: 2.65em; }

	.citas {
		grid-template-columns: 6.5em 1fr;
		margin: 4.5em 0;
		grid-row-gap: 5em;
	}
	.fa-hand-holding-heart { font-size: 3.9em; }
	.citas-p { font-size: 2.8em; }
	.citas-autor { font-size: 2.6em; }

	.ig-figure img {
		height: 14.5em;
		width: 18.5em;
	}
	.ig-figure-figcaption { font-size: 2.6em; }

	/* FOOTER */
	#footer { margin-top: 10em; }
	
	.figure-ubi { margin-bottom: 12.7%; }
	.figure-ubi figcaption { font-size: 3.5em; }
	.ubi { font-size: 2.25em; }

	.hor-list li:first-child, .at-list li:first-child {
		font-size: 2.7em;
	}
	.hor-list li:nth-child(2) {
		font-size: 2.4em;
	}
	.at-list li:nth-child(2), .at-list li:nth-child(3) {
		font-size: 2.05em;
	}

	.div-der-dev { font-size: 1.95em; }
}

@media only screen and (min-width: 1650px) {
	body { padding-top: 145px; }
	/* BARRA DE NAVEGACIÓN */
	h1 img {
		margin-left: 64%;
		height: 145px;
	}
	.menu li { font-size: 3.2em; }
	.fa-instagram {
		font-size: 48px;
		margin-right: 16px;
	}
	.fa-facebook { font-size: 44.7px; }

	/* MAIN */
	h2 {
		border-bottom: 4px solid #b40504;
		font-size: 5.7em;
	}

	.parrafo, .ig-texto { font-size: 2.95em; }

	.citas { margin: 5.5em 0; }
	.fa-hand-holding-heart { font-size: 4.3em; }
	.citas-p { font-size: 3em; }
	.citas-autor { font-size: 2.7em; }

	.ig-figure-figcaption { font-size: 2.8em; }

	/* FOOTER */
	.figure-ubi { margin-bottom: 15.1%; }
	.ubi { font-size: 2.4em; }

	.hor-list li:first-child, .at-list li:first-child {
		font-size: 2.9em;
	}
	.hor-list li:nth-child(2) {
		font-size: 2.5em;
	}
	.at-list li:nth-child(2), .at-list li:nth-child(3) {
		font-size: 2.1em;
	}

	.div-der-dev { font-size: 2em; }
}

@media only screen and (min-width: 1900px) {
	body { padding-top: 155px; }
	/* BARRA DE NAVEGACIÓN */
	h1 img {
		margin-left: 73.5%;
		height: 153px;
	}
	.menu li { font-size: 3.6em; }

	/* MAIN */
	h2 {
		font-size: 6.5em;
		border-bottom: 5px solid #b40504;
	}

	.parrafo, .ig-texto { font-size: 3.3em; }

	.citas {
		grid-template-columns: 8em 1fr;
		grid-row-gap: 7em;
		margin: 6em 0;
	}
	.fa-hand-holding-heart { font-size: 5em; }
	.citas-p { font-size: 3.5em; }
	.citas-autor, .ig-figure-figcaption { font-size: 3.2em; }

	.ig-figure img {
		height: 18.5em;
		width: 24em;
	}

	/* FOOTER */
	.figure-ubi { margin-bottom: 14.6%; }
	.figure-ubi figcaption { font-size: 3.9em; }
	.ubi { font-size: 2.75em; }

	.hor-list li:first-child, .at-list li:first-child {
		font-size: 3.1em;
	}
	.hor-list li:nth-child(2) {
		font-size: 2.7em;
	}
	.at-list li:nth-child(2), .at-list li:nth-child(3) {
		font-size: 2.3em;
	}

	.div-der-dev { font-size: 2.4em; }

	@media only screen and (min-height: 1200px) {
		/* FOOTER */
		.figure-ubi { height: 450px; }
	}
}